.nav{
    color: black;
    font-size:15px;
    position:relative;
    left: 180px;
    top:-40px;
    justify-items: space-between;
    gap:30px;
    text-decoration: none;
    
   
}
#logo{
    margin-left: 30px;
    top:10px;
}
#parent{
    position: relative;
    top:10px;
}
#child{
    position: absolute;
    top: 150px;
    left: 60px;


}
            
#links{
    display:flex;
    gap:15px;
    
}
#icons{
    
    margin-left: 450px;
    display: flex;
    gap:100px;
    margin-top: 50px;
}
#ilink{
    display: flex;
    gap:50px;
    margin-left: 450px;
    margin-top: 10px;
}
#products{
    display: flex;
    margin-top: 100px;
    gap:20px;
    margin-left: 60px;
    height:450px;

}
#product1{
    width:300px;
    border: 2px solid rgb(246, 244, 244);
}
#product2{
    width:300px;
    margin-left: 20px;
    border: 2px solid rgb(246, 244, 244);
}
#product3{
    width:300px;
     border: 2px solid rgb(246, 244, 244);
}
#product4{
    width:300px;
     border: 2px solid rgb(246, 244, 244);
}
#bussiness{
    margin-top: 50px;
    margin-left: 30px;
    
    
    

}
#childbox{
    width: 400px;
    margin-left: 150px;
    position:relative;
    top:-400px;
    color: white;
    height: 100px;
}
#bus{
    display: flex;
    gap: 50px;
    width: 300px;
    margin-left: 60px;
    height: 500px;
}
#social{
    display: flex;
    gap:20px;
    margin-top: 40px;
}
#feat{
    background-color: rgb(248, 248, 247);
    height: 300px;
    margin-top: 50px;
    
}
#feat {
  display: flex;        /* Enable flex */
  width: 100%;          /* Full width */
  padding: 40px;
  box-sizing: border-box;
}

.col {
  width: 25%;           /* Each div = 25% */
  padding: 10px;
}

.col h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.col p {
  margin: 5px 0;
  cursor: pointer;
}

.col p:hover {
  text-decoration: underline;
  
}

